# Secrets
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual envs / tooling caches
.venv/
.mypy_cache/
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# OS / editor
.DS_Store
*.swp
# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
